:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-content {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

nav {
  flex-shrink: 0;
  background: white;
  border-top: 1px solid #ccc;
}
